                /* Global roles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Overpass', sans-serif;
    /* font-size: 16px; */
}

.container {
    overflow: hidden;
}

                /* First part */

.fp {
    background-color: hsl(353, 100%, 62%);
    width: 100%;
    height: 435px;
    padding: 47px 152px;
    border-radius: 0 0 0 90px;
}

.first-part {
    /* background-image: url("../imgs/bg-pattern-intro.svg"); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
                
.logoMenu {
    display: flex;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 33%;
}

.fp .logo h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 35px;
}

.menu-items ul {
    display: flex;
    padding: 16px 0 0 13px;
    list-style-type: none;
}

i.fa.fa-caret-down {
    color: #fff;
    margin: 2px 0 0 5px;
    width: 4px;
    height: 4px;
    cursor: pointer;
}

.menu-toggle {
    color: #fff;
    float: right;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

/*
.i.fa.fa-bars {
    color: #fff;
    display: none;
} */

.menu-items ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
}

.menu-items ul li a:hover {
    border-bottom: 2px solid #fff;
}

.btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 6px 0 0 0;
}
                
.btns .login .logBtn {
    border: none;
    outline: none;
    margin-right: 60px;
    background-color: hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    cursor: pointer;
    padding-top: 11px;
}
                
.btns .signup .sgnBtn {
    cursor: pointer;
    padding: 8px 20px;
    outline: none;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    font-weight: bold;
}

.btns .signup .sgnBtn:hover {
    color: #fff;
    background-color: hsl(356, 100%, 66%);
    border: 1px solid hsl(356, 100%, 66%);
}
                
.sp {
    padding-top: 80px;
}

.s-btns {
    display: flex;
    justify-content: center;
}

.bp {
    display: flex;
    justify-content: center;
}

.bp h1 {
    color: #fff;
    font-weight: bold;
    font-size: 60px;
}
                
.s-para {
    display: flex;
    justify-content: center;
}

.s-para p {
    color: #fff;
    font-weight: bold;
    padding: 13px 0 30px 0
}

.btn-start {
    margin: 0 5px 0 0;
}
                
.btn-start button {
    cursor: pointer;
    padding: 9px 16px;
    outline: none;
    border-radius: 18px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    font-weight: bold;
    font-size: 15px;
}

.btn-start button:hover {
    color: #fff;
    background-color: hsl(356, 100%, 66%);
    border: 1px solid hsl(356, 100%, 66%);
}
                
.btn-learn {
    margin: 0 0 0 5px;
}

.btn-learn button {
    cursor: pointer;
    padding: 9px 16px;
    outline: none;
    border-radius: 18px;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(356, 100%, 66%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 15px;
}
                
.btn-learn button:hover {
    color: hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    font-weight: bold;
}
                        /* Second part */

.second-part {
    width: 1624px;
    padding-bottom: 30px;
}

.content-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left {
    width: 60%;
    padding: 100px 92px 0 175px;
}

.left h1 {
    display: flex;
    justify-content: flex-end;
    color: hsl(208, 49%, 24%);
    font-size: 27px;
    font-weight: bolder;
}

.left-cont {
    padding: 40px;
}

.f-pLeft h2 {
    padding: 0 0 20px 0;
    padding: 0 0 20px 0;
    color: hsl(208, 49%, 24%);
    font-size: 20px;
    font-weight: bold;
}

.f-pLeft p {
    padding-right: 19px;
    line-height: 1.6;
    font-size: 15px;
    color: hsl(208, 49%, 24%);
}

.right {
    width: 40%;
}

.right-img {
    padding-top: 45px;
}

.right-img img {
    height: 460px;
    width: 531px;
}

.s-pRight {
    padding-top: 25px;
}

.s-pRight h2 {
    padding: 0 0 20px 0;
    color: hsl(208, 49%, 24%);
    font-size: 20px;
    font-weight: bold
}

.s-pRight p {
    padding-right: 19px;
    line-height: 1.6;
    font-size: 15px;
    color: hsl(208, 49%, 24%);
}

                    /* Third part */

.third-part {
    width: 100%;
    height: 275px;
    background-color: hsl(237, 23%, 32%);
    background-image: url(../imgs/bg-pattern-circles.svg);
    border-radius: 0 90px;
}

.content-third {
    display: flex;
    justify-content: space-between;
}

.part-img {
    width: 50%;
    align-items: center;
    padding: 0 0 0 179px;
}

.third-part img {
    height: 390px;
    margin-top: -45px;
}

.prt-text {
    width: 50%;
    padding: 90px 10px 0 0;
}

.part-head {
    padding-bottom: 15px;
}

.part-head h1 {
    color: hsl(0, 0%, 100%);
    font-size: 18PX;
    font-weight: bold;
}

.txt {
    padding-right: 130px
}

.txt p {
    color: hsl(0deg 5% 77%);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
}
                        /* forth part */

.forth-part {
    padding-top: 50px;
}

.content-forth {
    display: flex;
}

.img-box {
    margin-left: -179px;
    width: 50%;
}

.img-box img {
    width: 640px;
    height: 500px;
}

.box-right {
    padding: 120px 30px 0 180px;
    width: 50%;
}

.box-right h1 {
    color: hsl(208, 49%, 24%);
    font-size: 18PX;
    font-weight: bold;
    padding-bottom: 20px;
}

.f2 {
    padding-top: 30px;
}

.box-right p {
    color: hsl(237, 23%, 32%);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
}

                    /* footer */

.last-step {
    padding-top: 95px;
}

.footer {
    width: 100%;
    height: 250px;
    background-color: hsl(240, 10%, 16%);
    border-radius: 0 90px 0 0;
}

.box-footer {
    display: flex;
    flex-direction: row;
    padding-top: 55px;
}

.prt {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.blogr {
    margin-left: 60px;
}

.blogr h1 {
    color: hsl(0, 0%, 100%);
    font-weight: bolder;
    font-size: 35px;
}

.footer-menu {
    display: flex;
    width: 900px;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 12px;
}

.pro h4,
.comp h4,
.cnct h4 {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    margin-bottom: 28px;
}

.pro ul,
.comp ul,
.cnct ul {
    list-style-type: none;
}

.pro ul li,
.comp ul li,
.cnct ul li {
    margin: 0 0 7px 0;
}

.pro ul li a,
.comp ul li a,
.cnct ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    margin: 5px 0 5px 0;
}

.pro ul li a:hover,
.comp ul li a:hover,
.cnct ul li a:hover {
    border-bottom: 2px solid hsl(0, 0%, 100%);
}

.right2 {
    display: none;
}

.right2 h1 {
    display: none;
}

.sub-menu {
    background-color: #fff;
    width: 114px;
    height: 114px;
    border-radius: 5px;
    z-index: 99;
    display: block;
    margin: 5px 0 0 33px;
}

ul.box-sub-menu {
    display: block;
    margin-left: -55px;
}

ul.box-sub-menu li {
    margin: 10px
}

ul.box-sub-menu li a {
    color: hsl(208, 49%, 24%);
    font-size: 15px;
}

ul.box-sub-menu li a:hover {
    color: #000;
}

                    /* end footer */


                    /* Media Query */

@media(max-width: 900px) {

    .menu-toggle {
        display: block;
        margin: -16px 14px 0 0;
    }

    .menu {
        display: none;
    }

    .btns {
        display: none;
    }

    .fp {
        height: 565px;
        padding: 0;
    }

    .fp .logo h1 {
        font-size: 25px;
        margin: 40px 0 0 20px;
    }

    .sp {
        text-align: center;
    }

    .bp h1 {
        font-size: 48px;
        font-weight: 100;
        margin-bottom: 22px;
    }

    .s-para p {
        font-size: 24px;
        color: #f3e0e0;
        font-weight: 100;
        margin-bottom: 25px;
    }

    .btn-start button,
    .btn-learn button {
        padding: 12px 25px;
        border-radius: 26px;
    }

    .second-part {
        width: 100%;
    }

    .content-items {
        display: block;
    }

    .left {
        width: 100%;
        padding: 0;
    }

    .left-cont {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }

    .f-pLeft h2 {
        font-size: 39px;
        font-weight: 100;
    }

    .s-pRight h2 {
        font-size: 34px;
        font-weight: 100;
    }

    .f-pLeft p {
        padding: 0 15px;
        font-size: 19px;
    }

    .s-pRight p {
        padding: 0 15px;
        font-size: 19px;
    }

    .left h1 {
        display: none;
        text-align: center;
    }
    
    .right {
        display: none;
    }

    .right-img2 img {
        height: 300px;
        width: 300px;
        object-fit: contain;
    }

    .right2 {
        display: block;
        width: 100%;
        text-align: center;
    }

    .right2 h1 {
        display: block;
        text-align: center;
        color: hsl(208, 49%, 24%);
        font-size: 24px;
        font-weight: bolder;
        margin: 95px 0 30px 0;
    }

    .third-part {
        height: 100%;
        margin-top: 245px;
    }

    .content-third {
        display: block;
        text-align: center;
    }

    .part-img {
        width: 100%;
        padding: 0;
    }

    .third-part img {
        margin-top: -189px;
    }

    .prt-text {
        width: 100%;
        padding: 0;
    }

    .part-head {
        padding-bottom: 40px;
    }

    .part-head h1 {
        font-size: 32px;
    }

    .txt {
        padding: 0;
    }

    .txt p {
        font-weight: 100;
        font-size: 18px;
        padding: 0 40px 90px 40px;
    }

    .content-forth {
        display: block;
    }

    .img-box {
        margin: 0;
        width: 100%;
        display: block;
        text-align: center;
    }

    .img-box img {
        width: 330px;
        height: 360px;
        object-fit: scale-down;
    }

    .box-right {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .box-right p {
        padding: 0 15px;
        font-size: 19px;
        font-weight: 100;
    }

    .box-right h1 {
        font-size: 24px;
    }

    .last-step {
        padding-top: 50px;
    }

    .box-footer {
        padding: 55px 0 29px 0;
        display: block;
    }

    .footer {
        height: 100%;
    }

    .prt {
        display: block;
        text-align: center;
    }

    .footer-menu {
        width: 100%;
        display: block;
        margin: 0;
    }

    .blogr {
        margin: 0;
    }

    .blogr h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .comp {
        margin-top: 33px;
    }

    .cnct {
        margin-top: 33px;
    }
}

@media(min-width: 901px) and (max-width: 1000) {

}